{% block content %}
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Bots created by this site are not intended to be used for malicious purposes</p>
    <hr color="white">
  </div>
  <center>
    <div class="container-fluid" style='margin-left:15px'>
      <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
      <p>
        <center>
          <a href="mailto:ailyin@ucsd.edu" target="blank" style="color:white"><ion-icon name="logo-google" style="color:white"></ion-icon>
        Email</a> | <a href="http://linkedin.com/in/alexander-ilyin1" target="blank" style="color:white"><ion-icon name="logo-linkedin" style="color:white"></ion-icon> LinkedIn</a> | <a href="http://github.com/alexilyin1" target="blank" style="color:white"><ion-icon name="logo-github" style="color:white"></ion-icon> GitHub</a>
        </center>
      </p>
    </div>
  </center>
  <!-- /.container -->
</footer>
{% endblock %}